@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: #9b415c;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.pass-container{
    background-color: #6f2f42;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pass-title{
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: #431c27;
    width: 240px;
    padding-left: 15px;
    word-break: break-all;
}


.pass-inside{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1.5rem;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

#copyBtn{
    cursor: pointer;
    height: 68px;
    width: 50px;
    font-size: 25px;
    background-color: #2c131a;
    border: none;
    color: white;
}

.btn{
    grid-column: span 2;
    background-color: #431c27;
    padding: 15px;
    color: white;
    border: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: 0.5s ease;
}

.btn:hover{
    background-color: #2c131a;
}

#amountOfChars{
    width: 2rem;
}

